<nav id="navbar">
  {% include scripts.html %}
  {% for item in site.data.navigation %}
  <a
    href="{{ item.link }}"
    {% if page.url == item.link %}
    class="currentTab"
    {% endif %}
  >
    {{ item.name }}
  </a>
  {% endfor %}
  <div id="theme_buttons">
    <input 
      type="image" 
      name="bright"
      src="/assets/images/Google-Noto-Emoji-Travel-Places-42652-sun.96.png" 
      onclick="setThemeBright();"
    />
    <input
      type="image"
      name="colorful"
      src="/assets/images/Google-Noto-Emoji-Travel-Places-42682-rainbow.96.png"
      onclick="setThemeColorful();"
    >
    <input
      type="image"
      name="dark"
      src="/assets/images/moon-pngrepo-com.png"
      onclick="setThemeDark();"
  </div>
</nav>

