body,
html {
  margin: 20;
  padding:20;
  font-family: "Open Sans", sans-serif;
}

.bright {
  background-color: #fff;
}

.night {
  background-color: #111111;
  color: #fff;
}

.colorfule {
  background-color: #8cd3ff;
  color: #000;
}
