body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  background-color: #bfbfbf;
  // color: #2367a2;
  color: #793d93;
}

a {
  &:link {
    color: blue;
  }

  &:visited {
    color: #3a743d;
  }

  &:hover {
    color: orangered;
  }

  &:active {
    color: violet;
  }
}
