nav {
 // margin-bottom: 50px;

}

#navbar {
  overflow: hidden;
  background-color: #8cd3ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  a {
    padding: 0 0.5em;
  }


  .currentTab {
    background: cornflowerblue;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    border-radius: 3px;
  }

}
