#navbar {
  overflow: hidden;
  background-color: #8cd3ff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.2em 0;
  width: 100%;
  
  a {
    padding: 0 0.5em;
  }

  .currentTab {
    background: cornflowerblue;
  }

  #theme_buttons {
    float: right;
    margin-right: 0.5em;

  }
}
